.container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: repeating-linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.1) 0px,
      rgba(36, 36, 36, 0.1) 39px,
      rgba(198, 198, 198, 0.1) 39px,
      rgba(198, 198, 198, 0.1) 60px,
      rgba(1, 1, 1, 0.1) 60px,
      rgba(1, 1, 1, 0.1) 93px,
      rgba(111, 111, 111, 0.1) 93px,
      rgba(111, 111, 111, 0.1) 106px,
      rgba(167, 167, 167, 0.1) 106px,
      rgba(167, 167, 167, 0.1) 149px,
      rgba(162, 162, 162, 0.1) 149px,
      rgba(162, 162, 162, 0.1) 177px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(246, 246, 246, 0.1) 0px,
      rgba(246, 246, 246, 0.1) 14px,
      rgba(98, 98, 98, 0.1) 14px,
      rgba(98, 98, 98, 0.1) 30px,
      rgba(116, 116, 116, 0.1) 30px,
      rgba(116, 116, 116, 0.1) 59px,
      rgba(11, 11, 11, 0.1) 59px,
      rgba(11, 11, 11, 0.1) 99px,
      rgba(85, 85, 85, 0.1) 99px,
      rgba(85, 85, 85, 0.1) 112px,
      rgba(7, 7, 7, 0.1) 112px,
      rgba(7, 7, 7, 0.1) 157px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(44, 44, 44, 0.1) 0px,
      rgba(44, 44, 44, 0.1) 145px,
      rgba(173, 173, 173, 0.1) 145px,
      rgba(173, 173, 173, 0.1) 244px,
      rgba(115, 115, 115, 0.1) 244px,
      rgba(115, 115, 115, 0.1) 376px,
      rgba(168, 168, 168, 0.1) 376px,
      rgba(168, 168, 168, 0.1) 481px,
      rgba(31, 31, 31, 0.1) 481px,
      rgba(31, 31, 31, 0.1) 623px,
      rgba(185, 185, 185, 0.1) 623px,
      rgba(185, 185, 185, 0.1) 748px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(164, 164, 164, 0.1) 0px,
      rgba(164, 164, 164, 0.1) 149px,
      rgba(193, 193, 193, 0.1) 149px,
      rgba(193, 193, 193, 0.1) 219px,
      rgba(83, 83, 83, 0.1) 219px,
      rgba(83, 83, 83, 0.1) 335px,
      rgba(250, 250, 250, 0.1) 335px,
      rgba(250, 250, 250, 0.1) 404px,
      rgba(213, 213, 213, 0.1) 404px,
      rgba(213, 213, 213, 0.1) 515px,
      rgba(85, 85, 85, 0.1) 515px,
      rgba(85, 85, 85, 0.1) 572px
    ),
    linear-gradient(90deg, rgb(18, 179, 56), rgb(81, 180, 56));
}
.row {
  .card,
  .card-about {
    background-color: rgba(255, 255, 255, 0.7);
    height: 400px;
    width: 100%;
    &-title {
      text-align: center;
      font-size: 2rem;
    }
    &-body {
      padding-top: 0;
      form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .buttons {
        width: 50%;
        height: 30%;
        margin: auto 0;
        font-size: 2rem;
      }
    }
  }
  .card-about {
    height: 100%;
    .card-body {
      .icons {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
          margin: 0 30px;
          color: black;
          &:hover {
            color: rgb(62, 61, 61);
          }
        }
      }
    }
  }
}
